extends ../layout/index
block topcontent  
block content
  #feedback.container
    .row
      .col-sm-4
        h1.feedback-form-title Ihr Feedback
        if error
          .alert.alert-danger
            | Es ist ein Fehler aufgetreten. Bitte füllen Sie alle Felder aus!
        else if success
          .alert.alert-success
            | Danke für Ihr Feedback!     
        form.feedback-form(action='/feedback', method='POST')
          .form-group
            label(for='feedback-form-name') Name
            input#feedback-form-name.form-control(type='text', placeholder='Ihr Name', name='fbName', value=fbName)
          .form-group
            label(for='feedback-form-title') Titel
            input#feedback-form-title.form-control(type='text', placeholder='Titel Ihres Feedbacks', name='fbTitle', value=fbTitle)
          .form-group
            label(for='feedback-form-message') Text
            textarea#feedback-form-message.form-control(type='text', placeholder='Ihre Nachricht', rows='6', name='fbMessage')=fbMessage
          button.btn.btn-default.pull-right(type='submit') Senden
      // primary
      aside.col-sm-8
        .maincontent.feedback
          h2.article-title Feedback
          if !feedbacklist || !feedbacklist.length
            | Bisher gab es kein Feedback! Trauen Sie sich?.
          else  
            .feedback-messages
              each item in feedbacklist
                .feedback-item.item-list.media-list
                  .feedback-item.media
                    .feedback-info.media-body
                      .feedback-head
                        .feedback-title=item.title
                          | &nbsp;
                          small.feedback-name.label.label-info=item.name
                      .feedback-message=item.message